@mixin center() {
  width: 100vw;
  margin: 0 auto;
}
body {
  background-color: black;
}
#keyMap {
  @include center();
  color: white;
  ul {
    list-style: none;
  }
}
#pianoContainer {
  display: grid;
  grid-template-columns: repeat(7, (97vw / 7));
  .key {
    width: (95vw / 7);
    height: 50vh;
    background-color: white;
    border: 2px solid black;
    position: relative;
    z-index: 1;
  }
  .sharp {
    width: (95vw / 14);
    height: 35vh;
    background-color: black;
    border: 2px solid white;
    border-top: none;
    z-index: 1;
    display: absolute;
    right: 0;
  }
}
